* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--fontFamily);
  font-size: 16px; /* root font size */
  text-align: center;
}

p,
li,
a,
span {
  font-size: var(--fs6);
  line-height: 150%;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

code {
  font-family: "Courier New", Courier, monospace;
  font-weight: var(--fwBold);
}

a {
  color: var(--primaryColor);
  text-decoration: none;
}

/* reset button styles */
button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
