* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--fontFamily);
  font-size: 20px; /* root font size */
}

p {
  line-height: 150%;
}

a {
  color: var(--primaryColor);
  text-decoration: none;
}
